{
    "rules": {
        "semi": 2,
        "no-var": ["error"],
        "block-spacing": ["error"],
        "brace-style": ["error", "1tbs"],
        "camelcase": ["error", {"properties": "never"}],
        "key-spacing": ["error", { "align": "colon" }],
        "quotes": ["error", "double", { "allowTemplateLiterals": true }],
        "space-before-blocks": ["error", { "functions": "never", "keywords": "always", "classes": "never" }]
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jquery": true
    },
    "globals": {
        "_": true
    }
}